*.pyc
*~
.idea
.vscode
__pycache__
venv

node_modules
migrations

frontend

# ----
Dockerfile
.git
.gitignore
.dockerignore
docker-compose.yml
README.md

docker-nginx
docker-compliers
