.container {
    background-color: var(--color-page);
    box-shadow: var(--shadow-up);
    padding: 20px;
    border-radius: 15px;
    position: relative;
}

.button {
    margin-top: 20px;
    background-color: var(--color-page);
    box-shadow: var(--shadow-down);
    border: none;
    padding: 7px 15px;
    border-radius: 10px;
}
