.header {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 5px;

    background: #e0e0e0;
    box-shadow: 5px 5px 10px #8b8b8b, -5px -5px 10px #ffffff;
    border-radius: 15px;
}

.header_course {
    padding: 5px 10px;
    border-radius: 10px;
}

.header_course + .header_course {
    margin: 0 10px;
}

.header_course:hover {
    box-shadow: 4px 4px 8px #8b8b8b, -4px -4px 8px #ffffff;
}

.header_course.active {
    box-shadow: inset 5px 5px 10px #cccccc, inset -5px -5px 10px #f4f4f4;
    color: #4768a7;
}

.header_course.active .header_link {
    color: #4768a7;
}

.header_link {
    text-decoration: none;
    color: #8b8b8b;
}

.header_link_home {
    padding: 5px;
    font-size: 20px;
    color: #8b8b8b;
}
