.section {
    padding-top: 100px;
    height: 80vh;
    width: 100vw;
}

.button {
    margin-top: 30px;
    padding: 10px 20px;
    background: #e0e0e0;
    box-shadow: inset 5px 5px 10px #8b8b8b, inset -5px -5px 10px #ffffff;
    border: none;
    border-radius: 20px;
    color: #8b8b8b;
}

.button:hover {
    box-shadow: 5px 5px 10px #8b8b8b, -5px -5px 10px #ffffff;
    color: #464646;
}
