.image {
    position: absolute;
    right: 0;
    z-index: -1000;

    width: 100vw;
    height: 80vh;
}

.brand {
    display: flex;
    cursor: pointer;
}

.text {
    font-weight: bolder;
    color: white;
}

@media (max-width: 975px) {
    .text {
        color: black;
    }
}
