.container {
    color: var(--color-text);
    margin-top: 20px;
}

.select {
    background-color: transparent;
    border: none;
    box-shadow: var(--shadow-down);
    cursor: pointer;
}

.select:hover {
    box-shadow: var(--shadow-up);
}
