.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    border-radius: 15px;

    background: var(--color-page);
    box-shadow: var(--shadow-up);
}

.profile_button {
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    background: var(--color-page);
    color: rgba(0, 0, 0, 0.5);
    box-shadow: var(--shadow-down);
}

.profile_button:hover {
    box-shadow: var(--shadow-up);
    color: black;
}
