.card {
    background-color: var(--color-page);
    box-shadow: var(--shadow-up);
    border: none;
    border-radius: 15px;
    padding: 20px;
}

.card:hover.card_profile {
    color: #efc8b1;
}

.card:hover.card_course {
    color: #7689de;
}

.card_icon {
    font-size: 50px;
}

.card_icon.card_icon_profile {
    color: #efc8b1;
}

.card_icon.card_icon_course {
    color: #7689de;
}

.card_button {
    margin-top: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
    box-shadow: var(--shadow-down);
    padding: 10px 25px;
    border-radius: 10px;
}

.card_button:hover {
    color: black;
    box-shadow: var(--shadow-up);
}
